@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme("colors.sapphire_blue.50");
    --foreground: theme("colors.sapphire_blue.900");
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: theme("colors.sapphire_blue.900");
        --foreground: theme("colors.sapphire_blue.50");
    }
}

html,
body {
    @apply antialiased;
}

body {
    font-family:
        "Nunito",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 14px;
    line-height: 1.5;
    @apply text-sapphire_blue-900 bg-sapphire_blue-50 dark:text-sapphire_blue-50 dark:bg-sapphire_blue-900;
}

a {
    @apply text-amber-700 dark:text-amber-300;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold;
}

h2 {
    @apply text-xl sm:text-2xl md:text-3xl font-semibold;
}

h3 {
    @apply text-lg sm:text-xl md:text-2xl font-semibold;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
